.slider {
    width: 100%;
    height: 90vh; /* so it won't cover whole screen */
    position: relative;
    overflow: hidden;
}

/* position slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* hides it */
    transform: translateX(-50%);
    transform: all 0.5s ease;
}

/* Add media query for slides on larger screens */
@media screen and (min-width: 600px) {
    .slide img {
        width: 100%;
        height: 100%;
    }
}

/* setting only height allows us to position it properly on mobile */
.slide img {
    height: 100%;
}

/* class for the slide that is currently being viewed */
.current {
    opacity: 1; /* shows it */
    transform: translateX(0); /* put it back in normal position */
}